.header {
    background-color: #000;
    color: inherit;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    &__logo {
        color: #fff;
        text-decoration: none;
        font-size: 30px;
    }
    &__list {
        display: flex;
        gap: 20px;
        font-size: 22px;
    }
    &__link {
        display: flex;
        gap: 20px;
        font-size: 22px;
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
    }
}